/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Sep-2020, 2:40:51 PM
    Author     : ramnagar
*/

/* CSS Syntax */

/*selector {
    property1: value;
    property2: value;
}
*/

a{
    color: red;
}

h1{
    color: blue;
}

/*//using class name
.class-name{
    property: value;
}
*/

.big-header{
    color: blue;
}

.big-header{
    color: blue;
}

.big-header{
    color: blue;
}

.btn-1{
    background-color: green;
}

.btn-2{
    background-color: blue;
}

.btn-3{
    background-color: red;
}

/*//using element tag as selector
element {
   property: value; 
}
*/

button{
    padding: 10px;
    color: white;
}

div {
  font-size: 30px;
  border: 1px solid black;
}

/*
//https://www.w3schools.com/cssref/css_units.asp
CCSS has several different units for expressing a length.
Many CSS properties take "length" values, such as width, margin, padding, font-size, etc.
Length is a number followed by a length unit, such as 10px, 2em, etc.
Awhitespace cannot appear between the number and the unit. However, if the value is 0, the unit can be omitted.
For some CSS properties, negative lengths are allowed.

Absolute Length
Unit	Description
cm	centimeters
mm	millimeters
in	inches (1in = 96px = 2.54cm)
px *	pixels (1px = 1/96th of 1in)
pt	points (1pt = 1/72 of 1in)
pc	picas (1pc = 12 pt)

Relative Length
Unit	Description	
em	Relative to the font-size of the element (2em means 2 times the size of the current font)	
ex	Relative to the x-height of the current font (rarely used)	
ch	Relative to the width of the "0" (zero)	
rem	Relative to font-size of the root element	
vw	Relative to 1% of the width of the viewport*	
vh	Relative to 1% of the height of the viewport*	
vmin	Relative to 1% of viewport's* smaller dimension	
vmax	Relative to 1% of viewport's* larger dimension	
%	Relative to the parent element

*/

span {
  font-size: 0.5em;
}

/*//using id as selector
#id{
   property: value; 
}
*/

#main-header{
    font-size: 200%;
}

/*//CSS Selector Combination (without any space)
.selector1.selector2{
   property: value;
}
*/
h1.big-header{
   font-size: 200%;
}

#main-header.large.blue{
    font-size: 200%;
}

/*//CSS combo - ancestor child
.ancestor .child{
    propery: value;
}
*/
div p{
    color: red;
}

div.section1 span.section1{
    color: brown;
}

/*//properties that are common for two different element and to avoid duplicate
.selector1, .selector2{
    property: value;
}*/

/*.big{
    font-size: 200%;
}

.large{
    font-size: 200%;
}*/

.big, .large{
    font-size: 200%;
}

/*//common things
 use of wild card 
*/
* {
    font-family: Arial;
}

/*psuedo classes*/
/*unvisited*/
a:link{
    text-decoration: none;
    color: blue;
}

/*focus, user focused using keyboard,
hover, user focused using mouse*/
a:focus,
a:hover{
    color: magenta;
    text-decoration: underline;
}

/*currently clicking*/
a:active{
    color: red;
}

a:visited{
    color: black;
}

/*https://css-tricks.com/almanac/properties/l/list-style/*/
ul.train li {
    list-style-type: none;
    margin-bottom: 5px;
}

ul.traininner li::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    padding: 10px 20px 0 0;
    height: 10px;
    width: 10px;
    background-image: url("http://i.imgur.com/F05JSPD.png");
    background-repeat: no-repeat;
}

